.user-profile-info{
    display: grid;
    grid-template-columns: minmax(50px, 70px) 1fr;
    gap: 19px;

    img {
        width: 100%;
        border-radius: 50%;
    }

    &__user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--fullname {
            font-size: 1rem;
            font-weight: 700;
            color: #000;
        }

        &--username, &--joined {
            font-size: .8125rem;
            grid-column: 2 / 3;
        }

        &--username {
            color: #0079FF;
        }

        &--user-description {
            margin: 17px 0;
            font-size: .8125rem;
            line-height: 25px;
        }
    }
}


@media screen and (min-width: 641px) and (max-width: 1023px) {
    .user-profile-info {
        grid-template-columns: minmax(90px, 117px) 1fr;
        gap: 41px;

        &__user {
            justify-content: center;

            &--fullname {
                font-size: 1.625rem;
            }

            &--username {
                font-size: 1rem;
            }
            &--joined{
                font-size: .9375rem;
            }
            &--user-description {
                font-size: .9375rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .user-profile-info {
        grid-column: 1 / 3;
        grid-template-columns: 117px auto;
        gap: 37px;

        img {
            grid-column: 1 / 2;
            max-width: 117px;

        }

        &__user{
            grid-column: 2 / 3;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            &--fullname, &--joined {
                align-self: center;
            }
            
            &--username {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }

            &--joined{
                justify-self: flex-end;
            }

            &--user-description {
                grid-column: 1 / 3;
            }
            
        }
    }
}