.user-profile-info{
    display: grid;
    grid-template-columns: minmax(50px, 70px) 1fr;
    gap: 19px;

    img {
        width: 100%;
        border-radius: 50%;
    }

    &__user {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--fullname {
            font-size: 1rem;
            font-weight: 700;
            color: #000;
        }

        &--username, &--joined {
            font-size: .8125rem;
            grid-column: 2 / 3;
        }

        &--username {
            color: #0079FF;
        }
    }
}


@media screen and (min-width: 641px) and (max-width: 1023px) {
    .user-profile-info {
        grid-template-columns: minmax(90px, 117px) 1fr;
        gap: 41px;

        &__user {
            justify-content: center;

            &--fullname {
                font-size: 1.625rem;
            }

            &--username {
                font-size: 1rem;
            }
            &--joined{
                font-size: .9375rem;
            }
        }
    }
}