.user-details {
    margin-top: 8px;
    background-color: #fff;
    padding: 32px 24px;
    border-radius: 11px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .user-profile-info{
        display: grid;
        grid-template-columns: minmax(50px, 70px) 1fr;
        gap: 19px;

        img {
            width: 100%;
            border-radius: 50%;
        }

        &__user {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &--fullname {
                font-size: 1rem;
                font-weight: 700;
                color: #000;
            }
    
            &--username, &--joined {
                font-size: .8125rem;
                grid-column: 2 / 3;
            }
    
            &--username {
                color: #0079FF;
            }
        }
    }

    .user-description {
        margin: 17px 0;
        font-size: .8125rem;
        line-height: 25px;
    }


    .user-stats {
        margin-top: 18px;
        padding: 18px 14px 19px 15px;
        background-color:  #f6f8ff;
        border-radius: 11px;
        width: 100%;
        text-align: center;

        th {
            font-size: .6875rem;
            color: #4B6A9B;
            font-weight: 400;
        }

        tr {
            font-size: 1rem;
            font-weight: 700;
            color: #000;
        }
    }

    .user-contacts {
        margin: 0;
        padding: 0;
        list-style-type: none;
        padding-top: 8px;

        li {
            display: flex;
            padding: 8px 0;
            img {
                width: .8125rem;
            }

            span {
                font-size: .8125rem;
                margin-left: 19px;
            }
        }
    }
}