.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 18px;



    &__logo {
        font-size: 1.625rem;
        color: #000;

        &--dark{
            color: #fff;
            transition: all .3s ease-in-out;
        }
    }


    &__theme-btn {
        border: 0;
        background-color: inherit;
        display: flex;
        align-items: center;
        font-family: inherit;
        font-weight: 700;
        color: inherit;
        font-size: .8125rem;
        cursor: pointer;

        &--dark{
            color: #90A4D4;
            transition: all .3s ease-in-out;
        }

        &--txt {
            text-transform: uppercase;
        }


        &--icon {
            padding-left: 1rem;

            g {
                fill: #90A4D4;
            }
        }
    }
}